<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN pedido_min_tabfieldblock}
<div class="container">
	<div class="form-group in-tab" data-fieldname="pedido_min" data-signal-error-for="pedido_min{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_pedido_min}">
			{BEGIN pedido_min_label}{$label engines pedido_min}{END pedido_min_label}
		</label>
		<div class="col-md-6 " >
			{$pedido_min_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="pedido_min">
			<div class="text-muted" >
			{$tooltip engines pedido_min}
			</div>
		</div>
	</div>
</div>
{END pedido_min_tabfieldblock}
{BEGIN pedido_max_tabfieldblock}
<div class="container">
	<div class="form-group in-tab" data-fieldname="pedido_max" data-signal-error-for="pedido_max{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_pedido_max}">
			{BEGIN pedido_max_label}{$label engines pedido_max}{END pedido_max_label}
		</label>
		<div class="col-md-6 " >
			{$pedido_max_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="pedido_max">
			<div class="text-muted" >
			{$tooltip engines pedido_max}
			</div>
		</div>
	</div>
</div>
{END pedido_max_tabfieldblock}





</div>
{END container_tabfields}

</div>