<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}"><span>{$pagetitlelabel engines masterlist}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



	<style>
	.bs-gridcell[data-field=id_engine]:before {
		content: "{$label engines id_engine}";
	}
	.bs-gridcell[data-field=nome]:before {
		content: "{$label engines nome}";
	}
	.bs-gridcell[data-field=dolar_max]:before {
		content: "{$label engines dolar_max}";
	}
	.bs-gridcell[data-field=dolar_min]:before {
		content: "{$label engines dolar_min}";
	}
	.bs-gridcell[data-field=pedido_max]:before {
		content: "{$label engines pedido_max}";
	}
	.bs-gridcell[data-field=pedido_min]:before {
		content: "{$label engines pedido_min}";
	}
	.bs-gridcell[data-field=obs]:before {
		content: "{$label engines obs}";
	}
	.bs-gridcell[data-field=date]:before {
		content: "{$label engines date}";
	}
	.bs-gridcell[data-field=timestamp]:before {
		content: "{$label engines timestamp}";
	}
	.bs-gridcell[data-field=filename]:before {
		content: "{$label engines filename}";
	}
	.bs-gridcell[data-field=sourcecode_link]:before {
		content: "{$label engines sourcecode_link}";
	}
	.bs-gridcell[data-field=sourcecode_text]:before {
		content: "{$label engines sourcecode_text}";
	}
	.bs-gridcell[data-field=comp_line]:before {
		content: "{$label engines comp_line}";
	}
</style>
<table {$masterlistgrid_hiddenattr} data-pageid="{$pageid}" data-brick="masterlistgrid" class="table rnr-b-mastergridfields rnr-gridtable bs-flexgrid" >
		<thead>
		<tr>
			<th class="{$id_engine_class}">{$label engines id_engine}</th>
			<th class="{$timestamp_class}">{$label engines timestamp}</th>
			<th class="{$date_class}">{$label engines date}</th>
			<th class="{$nome_class}">{$label engines nome}</th>
			<th class="{$dolar_min_class}">{$label engines dolar_min}</th>
			<th class="{$dolar_max_class}">{$label engines dolar_max}</th>
			<th class="{$pedido_min_class}">{$label engines pedido_min}</th>
			<th class="{$pedido_max_class}">{$label engines pedido_max}</th>
			<th class="{$sourcecode_text_class}">{$label engines sourcecode_text}</th>
			<th class="{$sourcecode_link_class}">{$label engines sourcecode_link}</th>
			<th class="{$filename_class}">{$label engines filename}</th>
			<th class="{$comp_line_class}">{$label engines comp_line}</th>
			<th class="{$obs_class}">{$label engines obs}</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="{$id_engine_class} bs-gridcell" data-field=id_engine>{$id_engine_mastervalue}</td>
			<td class="{$timestamp_class} bs-gridcell" data-field=timestamp>{$timestamp_mastervalue}</td>
			<td class="{$date_class} bs-gridcell" data-field=date>{$date_mastervalue}</td>
			<td class="{$nome_class} bs-gridcell" data-field=nome>{$nome_mastervalue}</td>
			<td class="{$dolar_min_class} bs-gridcell" data-field=dolar_min>{$dolar_min_mastervalue}</td>
			<td class="{$dolar_max_class} bs-gridcell" data-field=dolar_max>{$dolar_max_mastervalue}</td>
			<td class="{$pedido_min_class} bs-gridcell" data-field=pedido_min>{$pedido_min_mastervalue}</td>
			<td class="{$pedido_max_class} bs-gridcell" data-field=pedido_max>{$pedido_max_mastervalue}</td>
			<td class="{$sourcecode_text_class} bs-gridcell" data-field=sourcecode_text>{$sourcecode_text_mastervalue}</td>
			<td class="{$sourcecode_link_class} bs-gridcell" data-field=sourcecode_link>{$sourcecode_link_mastervalue}</td>
			<td class="{$filename_class} bs-gridcell" data-field=filename>{$filename_mastervalue}</td>
			<td class="{$comp_line_class} bs-gridcell" data-field=comp_line>{$comp_line_mastervalue}</td>
			<td class="{$obs_class} bs-gridcell" data-field=obs>{$obs_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>