<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN dolar_min_tabfieldblock}
<div class="container">
	<div class="form-group in-tab" data-fieldname="dolar_min" data-signal-error-for="dolar_min{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_dolar_min}">
			{BEGIN dolar_min_label}{$label engines dolar_min}{END dolar_min_label}
		</label>
		<div class="col-md-6 " >
			{$dolar_min_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="dolar_min">
			<div class="text-muted" >
			{$tooltip engines dolar_min}
			</div>
		</div>
	</div>
</div>
{END dolar_min_tabfieldblock}
{BEGIN dolar_max_tabfieldblock}
<div class="container">
	<div class="form-group in-tab" data-fieldname="dolar_max" data-signal-error-for="dolar_max{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_dolar_max}">
			{BEGIN dolar_max_label}{$label engines dolar_max}{END dolar_max_label}
		</label>
		<div class="col-md-6 " >
			{$dolar_max_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="dolar_max">
			<div class="text-muted" >
			{$tooltip engines dolar_max}
			</div>
		</div>
	</div>
</div>
{END dolar_max_tabfieldblock}





</div>
{END container_tabfields}

</div>