<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="date">
	{$date_editcontrol}
	</control>
	<control 
	field="nome">
	{$nome_editcontrol}
	</control>
	<control 
	field="dolar_min">
	{$dolar_min_editcontrol}
	</control>
	<control 
	field="dolar_max">
	{$dolar_max_editcontrol}
	</control>
	<control 
	field="pedido_min">
	{$pedido_min_editcontrol}
	</control>
	<control 
	field="pedido_max">
	{$pedido_max_editcontrol}
	</control>
	<control 
	field="obs">
	{$obs_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
