<div {$pageattrs}>

{BEGIN container_masterlistheader}
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}">	<h1>{$pagetitlelabel engines masterprint}</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_masterlistheader}



{BEGIN container_mastergrid}



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-masterprintfields rnr-gridtable" cellpadding="0" >
		<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$id_engine_class}">{$label engines id_engine}</th>
			<th class="{$timestamp_class}">{$label engines timestamp}</th>
			<th class="{$date_class}">{$label engines date}</th>
			<th class="{$nome_class}">{$label engines nome}</th>
			<th class="{$dolar_min_class}">{$label engines dolar_min}</th>
			<th class="{$dolar_max_class}">{$label engines dolar_max}</th>
			<th class="{$pedido_min_class}">{$label engines pedido_min}</th>
			<th class="{$pedido_max_class}">{$label engines pedido_max}</th>
			<th class="{$sourcecode_text_class}">{$label engines sourcecode_text}</th>
			<th class="{$sourcecode_link_class}">{$label engines sourcecode_link}</th>
			<th class="{$filename_class}">{$label engines filename}</th>
			<th class="{$comp_line_class}">{$label engines comp_line}</th>
			<th class="{$obs_class}">{$label engines obs}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<td class="{$id_engine_class}">{$id_engine_mastervalue}</td>
			<td class="{$timestamp_class}">{$timestamp_mastervalue}</td>
			<td class="{$date_class}">{$date_mastervalue}</td>
			<td class="{$nome_class}">{$nome_mastervalue}</td>
			<td class="{$dolar_min_class}">{$dolar_min_mastervalue}</td>
			<td class="{$dolar_max_class}">{$dolar_max_mastervalue}</td>
			<td class="{$pedido_min_class}">{$pedido_min_mastervalue}</td>
			<td class="{$pedido_max_class}">{$pedido_max_mastervalue}</td>
			<td class="{$sourcecode_text_class}">{$sourcecode_text_mastervalue}</td>
			<td class="{$sourcecode_link_class}">{$sourcecode_link_mastervalue}</td>
			<td class="{$filename_class}">{$filename_mastervalue}</td>
			<td class="{$comp_line_class}">{$comp_line_mastervalue}</td>
			<td class="{$obs_class}">{$obs_mastervalue}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>