<div {$pageattrs}>

{BEGIN container_dcount}
<div class="rnr-c rnr-ch rnr-c-dcount">


<div  class="style1 rnr-bl rnr-b-bsdetailspreviewcount {$brickclass_bsdetailspreviewcount}"><span {$bsdetailspreviewcount_hiddenattr} data-pageid="{$pageid}" data-brick="bsdetailspreviewcount">Ítens Encontrados: <strong>{$row_count}.</strong></span>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="table striped">
{BEGIN details_row_header}
	<thead>
		<tr class="{$gridHeader_class}" >
			<th class="{$engine_class}">{$label values engine}</th>
			<th class="{$ValorDolar_class}">{$label values ValorDolar}</th>
			<th class="{$ValorPedidos_class}">{$label values ValorPedidos}</th>
			<th class="{$Armazenamento_class}">{$label values Armazenamento}</th>
			<th class="{$resultado_class}">{$label values resultado}</th>
		</tr>
	</thead>
{END details_row_header}
	<tbody>
{BEGIN details_row}
		<tr>
			<td class="{$engine_class}">{$engine_value}</td>
			<td class="{$ValorDolar_class}">{$ValorDolar_value}</td>
			<td class="{$ValorPedidos_class}">{$ValorPedidos_value}</td>
			<td class="{$Armazenamento_class}">{$Armazenamento_value}</td>
			<td class="{$resultado_class}">{$resultado_value}</td>
		</tr>
{END details_row}	
	</tbody>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>